.btn {
    padding: 15px 30px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 1px solid #111;
    color:#111;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transition: all 0.3s;
  }
  
  .btn:hover{
    background-color:#111;
    color:#fff;
    transform: translateY(-8px);
  }
  
  .form-modal{
    width:100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display:none;
    justify-content: center;
    align-items:center;
  }
  
  .modal-content{
    width:450px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    animation: visible 1s 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes visible{
    from{
      transform: scale(0);
      opacity: 0;
    }
    to{
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .content-wrapper{
    opacity: 0;
    animation: toRight 1s 500ms 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes toRight {
    from{
      transform: translateX(-100px);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  input, textarea{
    width: 60%;
    display:block;
    margin:20px auto;
    padding: 10px;
    outline: none;
    border: 1px solid #111;
    font-family: $font;
  }
  
  textarea{
    max-width: 60%; min-height: 100px;
  }
  
  .submit{
    display:block;
    margin: 30px auto 0;
  }